* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: brown;
    display: block;
}

/* img {
    max-width: 100%;
    display: block;
} */

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    background: rgb(243, 238, 238);
}

.header__top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__forma {
    display: flex;

}

.header__browse {
    border-radius: 0;
}

.header__input {
    padding: 10px;
    border-radius: 0;
    border-collapse: inherit;
}

.header__lupe {
    border-radius: 0;
}

.header__right {
    display: flex;
}