* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: brown;
}

/* img {
    max-width: 100%;
    display: block;
} */

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header__conteiner {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__logout {
    margin: 0 0 0 33px;
}

.header__cart {
    margin: 0 0 0 33px;
}

.title {
    background-color: #F1E4E6;
}

.title__conteiner {
    height: 764px;
    display: flex;
    justify-content: center;
}

.title__image {
    width: 800px;
}

.title__border {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    align-self: center;
    margin: 0 16px 0 0;
}

.title__heading {
    width: 772px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__main-heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.title__main-paragraph {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.title__main-paragraph_red {
    color: #F16D7F;
}

.products__items {
    margin: 65px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.products__box {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__women_url {
    background-image: url('img/women.png');
}

.products__men_url {
    background-image: url('img/men.png');
}

.products__kids_url {
    background-image: url('img/kids.png');
}

.products__box-accesories {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__accesories_url {
    background-image: url('img/accesories.png');
}

.products__paragraph {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.products__heading {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #F16D7F;
}